<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jianlu8023.multidbexample.web.db1.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.github.jianlu8023.multidbexample.web.db1.entity.User">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userNick" column="userNick" jdbcType="VARCHAR"/>
            <result property="userAge" column="userAge" jdbcType="INTEGER"/>
            <result property="userEmail" column="userEmail" jdbcType="VARCHAR"/>
            <result property="userGender" column="userGender" jdbcType="TINYINT"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,userName,userNick,
        userAge,userEmail,userGender,
        userId,createTime,updateTime
    </sql>
</mapper>
